
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header Section */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background-color: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

#menu_icon {
    font-size: 3rem;
    color: var(--bg-color);
    cursor: pointer;
    margin-left: 1rem;
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--text-color);
}

/* Home Section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 23vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content > h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.home-content > h1 {
    font-size: 6rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
}

#social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    font-size: 2rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 2.5rem 3rem 0;
    transition: 0.3s ease;
}

#social_media a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
    transform: scale(1) translateY(-10px);
}

/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-content>h2{
    font-size: 30px;
}
.about,
.about-content,.about_text{
    flex: 0 0 100%;
    max-width: 100%;


}

.about_text>h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}
.about_text>p{
    font-size: 20px;
    margin-bottom: 15px;
    
}



.row1 {
    display: flex;
    margin-top: 20px;
}

.personal_info
 {flex: 0 0 30%;
    max-width: 30%;
    padding-top: 40px;
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 10px;
   
}
.personal_info h3{
    font-size: 2.7rem;
    text-align: center;
    
}
.info_item
{
padding: 15px;
}
.personal_info p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    border-bottom:1px solid var(--main-color) ;
   
}
.personal_info>span{
    font-weight: 400;
    margin-left: 4px;
    display: inline-block;

}
.skills {
    flex: 0 0 30%;
    max-width: 30%;
    padding-top: 40px;
    box-shadow: 0 0 20px var(--main-color);
    border-radius: 10px;
    margin-left: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.wrapper h3{
    font-size: 2.7rem;
    text-align: center;
}

.skills-wrapper{
    padding: 0 20px;
}

.skills-wrapper .bar{
    margin: 20px 0;
}

.skills-wrapper .bar .info {
    margin-bottom: 10px;
}

.skills-wrapper .bar .info span{
    letter-spacing: 1px;
    text-transform: uppercase;
}

.skills-wrapper .bar .progress-bar{
    width: 100%;
    height: 15px;
    background-color: #dddddd;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.skills-wrapper .bar .progress-bar span{
    position: absolute;
    height: 100%;
    border-radius: 10px;
    transform: scale(0);
    background-color:var(--main-color);
    animation: animate 1s cubic-bezier(1, 0 , 0.5, 1) forwards;
}

@keyframes animate {
    100%{
        transform: scale(1);
    }
}


.skills-wrapper .bar .progress-bar span.html{
    width: 90%;
}

.skills-wrapper .bar .progress-bar span.css{
    width: 70%;
}


.skills-wrapper .bar .progress-bar span.javascript{
    width: 50%;
}

.skills-wrapper .bar .progress-bar span.react-js{
    width: 70%;
}


.qualification {
    background-color: var(--snd-bg-color);
    flex: 0 0 30%;
    max-width: 30%;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 20px var(--main-color);
}

.qualification:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.qualification > h3 {
    font-size: 2.5rem;
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: bold;
}

.university, .college, .school {
    margin-bottom: 20px;
}

.college a, .school a, .university a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: var(--main-color);
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.college a:hover, .school a:hover, .university a:hover {
    background: var(--main-color);
    color: #fff;
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--main-color);
}

.university p, .college p, .school p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 500;
}

.university p:hover, .college p:hover, .school p:hover {
    color: var(--main-color);
}
.button{
    margin-top: 5px;
}


